// Keyframes
@import "partials/keyframes.scss";

////////////////////////////////////////////////////////////////////////////////

// Variables
$overlay-color: rgba(0, 0, 0, 0.45);
$button-color: rgba(54, 226, 183, 0.7);
$button-hover-color: rgba(50, 149, 127, 0.7);

////////////////////////////////////////////////////////////////////////////////

body {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Helvetica Neue', 'PT Sans', 'Arial', sans-serif;
}
.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
}
#background {
    @extend .full-screen;
    background: url("../assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(11px);
    z-index: -2;
    transform: scale(1.15);
}
#overlay {
    @extend .full-screen;
    z-index: -1;
    background: $overlay-color;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.font-weight-100 {
    font-weight: 100;
}
#profiles {
    position: relative;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}
#languages {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
li.social-icon {
    font-size: 24px;
}
span {
    font-weight: normal;
}
h1 {
    font-size: 10vw;
    font-family: 'Raleway';
}
h3 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: 'Lato';
    font-style: bold;
}
a {
    color: white;
    text-decoration: none;
    &.button {
        display: inline-block;
        padding: 10px 25px;
        text-align: center;
        transition: background-color 0.5s ease-out;
        background: $button-color;
        &:hover {
            background: $button-hover-color;
        }
    }
}
ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    li {
        display: inline-block;
        padding: 10px;
        font-size: 16px;
    }
}
nav > ul:hover > a > li {
    opacity: 0.5;
}
nav > ul:hover > a:hover > li {
    opacity: 1;
}
.left {
    position: relative;
    left: -25px;
    opacity: 0;
    animation: fadeIn, slideFromLeft ease-in;
    animation-fill-mode: forwards;
    animation-duration: 2s, 1.5s;
    animation-delay: 0.5s, 0.25s;
}
.right {
    position: relative;
    right: -25px;
    opacity: 0;
    animation: fadeIn, slideFromRight ease-in;
    animation-fill-mode: forwards;
    animation-duration: 2s, 1.5s;
    animation-delay: 0.5s, 0.25s;
}
.title-separator {
    position: relative;
    top: -100px;
    font-weight: 100;
    opacity: 0;
    animation: fadeIn, slideFromTop linear;
    animation-fill-mode: forwards;
    animation-duration: 1.25s;
    animation-delay: 1.25s;
}
.scale-down-text {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeIn, scaleDownText ease;
    animation-fill-mode: forwards;
    animation-duration: 1.75s, 2s;
    animation-delay: 2.75s, 2.5s;
}
.pulse {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeIn, scaleDownBox, pulse ease;
    animation-fill-mode: forwards;
    animation-duration: 2s, 2s, 8s;
    animation-delay: 3s, 3s, 6s;
}

////////////////////////////////////////////////////////////////////////////////

// Media Queries
@import "partials/media_queries.scss";
